.newTask {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    width: 46rem;
    margin: auto;
    transform: translateY(-30px);
}

.newTask input {
    border-radius: 8px;
    outline: none;
    width: 100%;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    color: var(--gray-100);
    background-color: var(--gray-500);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.newTask input:focus {
    outline: 1px solid var(--purple-dark);
}

.newTask input::placeholder{
    color: var(--gray-300);
}

.newTaskButton {
    background-color: var(--blue-dark);
    border-radius: 8px;
    padding: 1rem;
    font-size: .875rem;
    font-weight: bold;
    color: var(--gray-100);
    border: 0;

    display: flex;
    align-items: center;
    gap: .5rem;

    transition: background-color .2s;
}

.newTaskButton:hover {
    background-color: var(--blue);
}