body {
    background-color: var(--gray-600);
}

.tasksArea {
    width: 46rem;
    margin: auto;
}

.tasksArea header {
    display: flex;
    justify-content: space-between;
}

.tasksArea header > p {
    font-size: .875rem;
    font-weight: bold;
}

.createdTasks {
    color: var(--blue);
}

.createdTasks > span, .doneTasks > span {
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 2px 8px;
    border-radius: 9999px;
    margin-left: 8px;
}

.doneTasks {
    color: var(--purple-dark);
}

.tasksList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1.5rem;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.warningEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 1.5rem;
}

.warningEmpty > img {
    margin-bottom: 1rem;
}

.warningEmpty > p {
    color: var(--gray-300);
}